:root {
    --smashboard-console-max-lines: 15;
    --smashboard-console-font-size: 1rem;
    --smashboard-console-text-color: lightgray;

    --smashboard-console-background: rgba(0, 0, 0, 0.75);
    --smashboard-console-crt-shadows:
        0.25px 0 1px rgba(0, 30, 255, 0.3),
        -0.25px 0 1px rgba(255, 0, 80, 0.2),
        0 0 2px;
    --smashboard-shadow-color: rgba(0, 0, 0, 0.5);

    --smashboard-transitions: 0.333s;
    --smashboard-skew: 7.5deg;
    --dashboard-gutter: 4px;
}

/* TODO: maybe find a way to adjust the gap so that we can fix the maximum # of graphs in there */
@media (min-width: 601px) {
    :root {
        --dashboard-gutter: 6px;
    }
}

@media (min-width: 800px) {
    :root {
        --dashboard-gutter: 8px;
    }
}

.smashboard {
    display: grid;
    gap: var(--dashboard-gutter);

    font-family: Overpass, system-ui;

    z-index: 10;
    position: absolute;
    top: var(--dashboard-gutter);
    left: var(--dashboard-gutter);
    right: var(--dashboard-gutter);

    padding: 2px;

    overflow-x: hidden;
    overflow-y: hidden;
    max-height: 100vh;

    visibility: hidden;
}

.smashboard * {
    box-sizing: border-box;
}

.smashboard .shadow {
    border-radius: 5px;
    /* for clarity against the background, a little "hugging" line */
    box-shadow:
        1px 1px 0 1px var(--smashboard-shadow-color);
}

.smashboard .charts-section {
    display: flex;
    flex-wrap: wrap;
    gap: var(--dashboard-gutter);
}

.smashboard .console-section {
    padding: calc(var(--smashboard-console-font-size) * .75);
    background-color: var(--smashboard-console-background);

}

.smashboard .crt:not(hr) {
    font-family: "Overpass Mono", monospace;
    font-size: var(--smashboard-console-font-size);
    line-height: calc(var(--smashboard-console-font-size) * 1.25);

    color: var(--smashboard-console-text-color);
    text-shadow: var(--smashboard-console-crt-shadows);
}

.smashboard hr.crt {
    color: var(--smashboard-console-text-color);
    border: 0.75px solid;
    box-shadow: var(--smashboard-console-crt-shadows);
}

/* TODO: this doesn't work, but in Chromium the scroll bar is essentially
    invisible. What the hell, man? */
.smashboard .console::-webkit-scrollbar-thumb {
    border-color: var(--smashboard-console-text-color);
    background-color: var(--smashboard-console-text-color);
}


.smashboard .console {
    width: 100%;
    margin: 0;
    overflow-x: clip;
    overflow-y: scroll;

    scrollbar-color: var(--smashboard-console-text-color);
    scrollbar-width: auto;

    font-weight: lighter;
    /* Like a <pre> but wrapped */
    /* try break-spaces? */
    white-space: pre-wrap;
    /* I _think_ this should break words that are too wide to fit in the box, but also if  */
    overflow-wrap: break-word;
    word-break: normal;

    min-height: calc(var(--smashboard-console-font-size) * 5 * 1.25);
    max-height: calc(var(--smashboard-console-font-size) * var(--smashboard-console-max-lines) * 1.25);
}

.smashboard .console a {
    color: inherit;
    text-decoration: underline;
}

.smashboard input {
    margin: 0;
    width: 100%;
    border: 0;

    color: white;
    background: inherit;

    font-weight: normal;
}


.smashboard .swatches {
    overflow: scroll;
    display: flex;
    gap: 1px;

    font-weight: bold;
    font-size: 16px;

    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

.smashboard .swatches .swatch {
    width: 32px;
    height: 32px;
}

/*
 * 3D stuff
 */

.smashboard.threedee {
    /* account for the skew in the element's width */
    /* TODO: a better way of doing this besides just eyeballing it */
    /* at 7.5 degrees this is mostly readable */
    max-width: 896px;
    width: 110%;

    /* transform-origin: left center; */
    transform-origin: left 128px;
    transform:
        translateX(calc(var(--dashboard-gutter) * -1)) translateZ(var(--dashboard-gutter)) perspective(500px) rotateY(90deg);
    transition: visibility 0s linear;
}

.smashboard.visible {
    visibility: visible;
}

.smashboard.threedee.visible {
    transition:
        visibility 0s,
        transform var(--smashboard-transitions) ease;

    transform:
        perspective(500px) rotateY(var(--smashboard-skew)) rotateX(calc(var(--smashboard-skew) * -0.25));
}

.smashboard.threedee.hidden {
    transition:
        visibility 0s var(--smashboard-transitions),
        transform var(--smashboard-transitions) ease;
}