#gbk-designer .form-group label {
    text-transform: uppercase;
    font-weight: bold;
    /* font-size: ; */
    font-size: 11px;
}

#gbk-designer input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

#gbk-designer input[type=number]::-webkit-inner-spin-button,
#gbk-designer input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

#gbk-designer .gbk-input-group {
    position: relative;
    height: 30px;
}

#gbk-designer .gbk-input-group input {
    position: relative;
    height: 30px;
}

#gbk-designer .gbk-input-inset {
    margin: 5px;
    padding: 0 5px;
    border-radius: 4px;
    min-height: 20px;

    font-size: 11px;
    font-weight: bold;

    position: absolute;
    left: 0;
    top: 0;

    z-index: 1;
    background-color: gray;
    color: whitesmoke;
}

#gbk-designer .gbk-input-tuple {
    display: flex;
    gap: 6px;
}

#gbk-designer input[type="number"] {
    text-align: right;
    /* padding: 0 6px; */
}